<div>
    <div class="pagelist">
        <div class="pagelistCon">
            <div class="pageLi">
                <div class="pageFont">
                    <input class="smalltxt" placeholder="字段名称" ng-model="subData[data.currentSub].field_name">
                </div>
            </div>
            <div class="pageLi">
                <div class="pageFont">
                    <span>是否为必填项</span><!--{{subData[data.currentSub].isRequired}}{{isRequired}}-->
                    <input type="checkbox" placeholder="请输入内容" class="radio" ng-checked="isRequired" ng-model="subData[data.currentSub].isRequired" />
                </div>
            </div>
            <!--<div class="pagelist">-->
                <!--<div class="pagelistCon left">-->
                    <!--<input class="smalltxt" placeholder="输入文字内容" ng-model="subData[data.currentSub].field_cont">-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <!--<div class="pagelist">-->
        <!--<div class="pagelistCon center">-->
            <!--<a href="" class="addBtn">添加字段</a>-->
        <!--</div>-->
    <!--</div>-->
</div>
