<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>native/dnsResolveAll</key>
	<string>TNBDNSResolveAllHandler</string>
	<key>native/stopPlay</key>
	<string>TNBStopPlayHandler</string>
	<key>native/startPlay</key>
	<string>TNBStartPlayHandler</string>
	<key>native/getAuthKey</key>
	<string>TNBGetAuthKeyHandler</string>
	<key>native/addPluginDone</key>
	<string>TNBAddPluginDoneHandler</string>
	<key>native/dataEmbedding</key>
	<string>TNBDataEmbeddingHandler</string>
	<key>native/getNavigationItemTitle</key>
	<string>TNBGetNavigationItemTitleHandler</string>
	<key>business/getDefaultCard</key>
	<string>TNBGetDefaultCardHandler</string>
	<key>native/getConnectedState</key>
	<string>TNBGetConnectedStateHandler</string>
	<key>native/ticketQrcodeResult</key>
	<string>TNBTicketQrcodeResultHandler</string>
	<key>native/clipBoard</key>
	<string>TNBClipBoardHandler</string>
	<key>business/openUrl</key>
	<string>TNBOpenUrlHandler</string>
	<key>native/dataFromH5</key>
	<string>TNBDataFromH5Handler</string>
	<key>native/wheel</key>
	<string>TNBWheelHandler</string>
	<key>native/amap/amapGetDistance</key>
	<string>TNBGetDistanceHandler</string>
	<key>native/fetchFilePath</key>
	<string>TNBFetchFilePathHandler</string>
	<key>native/downloadFile</key>
	<string>TNBDownloadFileHandler</string>
	<key>native/goToGPSSetting</key>
	<string>TNBGPSSettingHandler</string>
	<key>native/getGPSState</key>
	<string>TNBGetGPSStateHandler</string>
	<key>native/dnsResolve</key>
	<string>TNBDnsResolveHandler</string>
	<key>native/datePicker</key>
	<string>TNBDatePickerHandler</string>
	<key>business/validate</key>
	<string>TNBValidateHandler</string>
	<key>business</key>
	<string>TNBBusinessHandler</string>
	<key>business/createShowBlock</key>
	<string>TNBCreateShowBlockHandler</string>
	<key>business/enterpriseDetail</key>
	<string>TNBEnterpriseDetailHandler</string>
	<key>business/createEnterprise</key>
	<string>TNBCreateEnterpriseHandler</string>
	<key>native/upLoad</key>
	<string>TNBUploadSingleFileHandler</string>
	<key>native/redirect</key>
	<string>TNBRedirectHandler</string>
	<key>native/deviceInfo</key>
	<string>TNBDeviceHandler</string>
	<key>native/locationInfo</key>
	<string>TNBLocationHandler</string>
	<key>native/close</key>
	<string>TNBCloseHandler</string>
	<key>business/install</key>
	<string>TNBInstallHandler</string>
	<key>native/shake</key>
	<string>TNBShakeHandler</string>
	<key>native/screenShot</key>
	<string>TNBScreenShotHandler</string>
	<key>native/createQrcode</key>
	<string>TNBCreateQrcodeHandler</string>
	<key>native/scanQrcode</key>
	<string>TNBScanQrcodeHandler</string>
	<key>native/update</key>
	<string>TNBUpdateHandler</string>
	<key>native/contact</key>
	<string>TNBAddressBookHandler</string>
	<key>native/alert</key>
	<string>TNBAlertHandler</string>
	<key>native/message</key>
	<string>TNBMessageHandler</string>
	<key>native/phone</key>
	<string>TNBPhoneCallHandler</string>
	<key>native/amap/amapGetLocation</key>
	<string>TNBAmapGetLocationHandler</string>
	<key>native/amap/amapScreenShot</key>
	<string>TNBAmapHandler</string>
	<key>native/amap/amapPOI</key>
	<string>TNBAMapPOIHandler</string>
	<key>native/amap/amapLocation</key>
	<string>TNBAMapLocationHandler</string>
	<key>native/pluginBridge</key>
	<string>TNBPluginBridgeHandler</string>
	<key>native/toonPay</key>
	<string>TNBToonPayHandler</string>
	<key>native/shareStandard</key>
	<string>TNBShareStandardHandler</string>
	<key>native/chooseSinglePicture</key>
	<string>TNBChooseSinglePictureHandler</string>
	<key>native/chooseMultiPictures</key>
	<string>TNBChooseMultiPicturesHandler</string>
	<key>native/takePhoto</key>
	<string>TNBTakePhotoHandler</string>
	<key>native/slidingBack</key>
	<string>TNBSlidingBackHandler</string>
	<key>native/getLoadParams</key>
	<string>TNBGetLoadParamsHandler</string>
	<key>mwap/vibrate</key>
	<string>TNBShake</string>
	<key>mwap/sms</key>
	<string>TNBMessage</string>
	<key>mwap/tel</key>
	<string>TNBPhone</string>
	<key>mwap/window</key>
	<string>TNBCloseWebview</string>
	<key>mwap/map</key>
	<string>TNBAmapLocation</string>
	<key>mwap/network</key>
	<string>TNBGetConnectedState</string>
	<key>mwap/share</key>
	<string>TNBShareStandard</string>
	<key>mwap/gps</key>
	<string>TNBGetGPSState</string>
	<key>mwap/clipboard</key>
	<string>TNBClipBoard</string>
	<key>mwap/contact</key>
	<string>TNBContact</string>
	<key>mwap/photo</key>
	<string>TNBGetSinglePicture</string>
</dict>
</plist>
